files:
  /etc/nginx/conf.d/https.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      # HTTPS server

      server {
          listen       443;
          server_name  localhost;
          
          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;
          
          ssl_session_timeout  5m;
          
          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_prefer_server_ciphers   on;

          # For enhanced health reporting support, uncomment this block:

          #if ($time_iso8601 ~ "^(\d{4})-(\d{2})-(\d{2})T(\d{2})") {
          #    set $year $1;
          #    set $month $2;
          #    set $day $3;
          #    set $hour $4;
          #}
          #access_log /var/log/nginx/healthd/application.log.$year-$month-$day-$hour healthd;
          #access_log  /var/log/nginx/access.log  main;
          
          location / {
              proxy_pass  http://nodejs;
              proxy_set_header   Connection "";
              proxy_http_version 1.1;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Real-IP       $remote_addr;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
              proxy_set_header        X-Forwarded-Proto https;
          }
      }
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGAjCCBOqgAwIBAgIQagVHgO8qRLtf0EhmWp7glzANBgkqhkiG9w0BAQsFADCB
      jzELMAkGA1UEBhMCR0IxGzAZBgNVBAgTEkdyZWF0ZXIgTWFuY2hlc3RlcjEQMA4G
      A1UEBxMHU2FsZm9yZDEYMBYGA1UEChMPU2VjdGlnbyBMaW1pdGVkMTcwNQYDVQQD
      Ey5TZWN0aWdvIFJTQSBEb21haW4gVmFsaWRhdGlvbiBTZWN1cmUgU2VydmVyIENB
      MB4XDTE5MTAxODAwMDAwMFoXDTIwMTAxNzIzNTk1OVowVTEhMB8GA1UECxMYRG9t
      YWluIENvbnRyb2wgVmFsaWRhdGVkMRQwEgYDVQQLEwtQb3NpdGl2ZVNTTDEaMBgG
      A1UEAxMRYm9hcmRnYW1lc2lsby5jb20wggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAw
      ggEKAoIBAQCjx/l4ClDzs52uuXIrlhEQr850LWubqQy4ojbbu7NxKFw/tp84uVEo
      05nkr4M8AD6oQmi7hxVytAV4IIuiglbXwz+ItjQAg6pt3RtzCeDCRBOBOrhKx2JR
      l5LPXWGrDU2l6aSLBkZGxyJxLLm03FO5uVdhAi18QulKzKh4p8VlvOuUSiIV78IX
      qTzBg2Yaek+pV679zAxJVYqu0s1hAyybx5PuAUT5CSjgTw4zDpXj9HayUJ8lv81O
      sa27YltdZkv0YSj7b+vGbhtUPRViQPiAd7igvIyjH7b1HVpprBdi+9RbUOi7Jqj6
      3FABNvNGPuB09lXjbxZwkwDOaVAbZk+XAgMBAAGjggKRMIICjTAfBgNVHSMEGDAW
      gBSNjF7EVK2K4Xfpm/mbBeG4AY1h4TAdBgNVHQ4EFgQUnXPY3/QEwnmSvq/EoNX+
      jH0eFwgwDgYDVR0PAQH/BAQDAgWgMAwGA1UdEwEB/wQCMAAwHQYDVR0lBBYwFAYI
      KwYBBQUHAwEGCCsGAQUFBwMCMEkGA1UdIARCMEAwNAYLKwYBBAGyMQECAgcwJTAj
      BggrBgEFBQcCARYXaHR0cHM6Ly9zZWN0aWdvLmNvbS9DUFMwCAYGZ4EMAQIBMIGE
      BggrBgEFBQcBAQR4MHYwTwYIKwYBBQUHMAKGQ2h0dHA6Ly9jcnQuc2VjdGlnby5j
      b20vU2VjdGlnb1JTQURvbWFpblZhbGlkYXRpb25TZWN1cmVTZXJ2ZXJDQS5jcnQw
      IwYIKwYBBQUHMAGGF2h0dHA6Ly9vY3NwLnNlY3RpZ28uY29tMDMGA1UdEQQsMCqC
      EWJvYXJkZ2FtZXNpbG8uY29tghV3d3cuYm9hcmRnYW1lc2lsby5jb20wggEFBgor
      BgEEAdZ5AgQCBIH2BIHzAPEAdwAHt1wb5X1o//Gwxh0jFce65ld8V5S3au68YToa
      adOiHAAAAW3dxCpSAAAEAwBIMEYCIQDPHNhjRqgnh0VbpVthn+VwefllcJ8zUs/x
      fJcVYYL2awIhAP+qt5ODaYJiOSkQB1J2u6LX8TYuRH9z4QnFWYHREBZQAHYAXqdz
      +d9WwOe1Nkh90EngMnqRmgyEoRIShBh1loFxRVgAAAFt3cQqPgAABAMARzBFAiEA
      uxyf+q4ukiUANwJr5pEHkI5pJTqx/druGd32MOdYVg4CIAJR1SATInplP4ru3wPJ
      LJbFB7xez/R/2KOhUEekMv5UMA0GCSqGSIb3DQEBCwUAA4IBAQDHYm5pNkBsEZ6j
      JhfawvnqvjpPZSbcSHKQRpEvYv3AbQuifIgCnHUZ45ghrj+VDUCEC28aV5H7+iq9
      sByV42xwrDQX1mMTKbPjViSZ18J0QSEduWaoaL6aO3CO4DGEOzLt+epASTSkEr5Q
      0iJfPjoFLcRJdO24UE+rJsl5dfmuW2lJHxA33NIVqktpbIO0q0NQmklGe7UX0R9C
      fOEk0ft5aNe8HdEPBDNlZ6YmG7/b9D+KNdHEDi/gIzgumUSBCb7f1A7Wzd30VRgC
      hpTzuB40H9sO2Csw7NubcrlBjKU/+hVAgJDRwJnw9XtdqHg8vE0Zwx4SzMv2Zxds
      DM0VYJPy
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQCjx/l4ClDzs52u
      uXIrlhEQr850LWubqQy4ojbbu7NxKFw/tp84uVEo05nkr4M8AD6oQmi7hxVytAV4
      IIuiglbXwz+ItjQAg6pt3RtzCeDCRBOBOrhKx2JRl5LPXWGrDU2l6aSLBkZGxyJx
      LLm03FO5uVdhAi18QulKzKh4p8VlvOuUSiIV78IXqTzBg2Yaek+pV679zAxJVYqu
      0s1hAyybx5PuAUT5CSjgTw4zDpXj9HayUJ8lv81Osa27YltdZkv0YSj7b+vGbhtU
      PRViQPiAd7igvIyjH7b1HVpprBdi+9RbUOi7Jqj63FABNvNGPuB09lXjbxZwkwDO
      aVAbZk+XAgMBAAECggEAOWGJnK34mLlYSGv+fRjRl8gQjBGRvvKmW1Wx5KBJiR67
      2zKvbB85ORWRuFZpoy7uxOKncPQt5ob9142HfoMty+BDNTGo3HlEz8MEp/RRA574
      OnGJOeHLJ4z0SaSM4HIDv1oxZOfo3UlNXtttoNkEmHBAFeO+bee/do5nhAY7mZ3c
      bEtosX/vTtJo+c9iX2QGjwP11gNeHqsLc1tz9lvm3oiXNJb+mSBAELgL9vQSDLcK
      82gALwn2LrY3x54yiqhw9rlLAcQjPy01Nhu2Hybs162ziOccd7vz8PQj22rMNNiX
      z8165ZT/S8GvLIMKy0DKFGLChwZgojYOttfGL/60qQKBgQDNj5kcv3niEoK11WeE
      PwkB/tHerdbo8VDt7/lD3IspWK0slGHOA0yraqFBuytEMFrEcZtEtRisY6SNKQOa
      WOqxSJiAmz72aHmlQx62ZxvNlVFV2QgEkZVvF+x3z1nR2XsnbZ3dnHE9Lo+HB1Ix
      KGuaKuAghnUSkKbMNwsyZNclRQKBgQDL9/X37+9tZX6+LQzAJOPXU5i/OH9BLdaW
      I/9lkvbmnVc8x6dM8qZM/myfiVYXJcp3nQaGaaCMSjqOKRN18IDe8p+1jbk5vg6i
      sbQU8JYTu3r+7ldz49K7lYWn3KQ5Nb1o5uf73fF+vldYIakvFjy7gvj0G8a+PZHG
      Isjhvk8pKwKBgGWL1ZB9CoHisQ2QgZWz6ghBUH3XlL34UAlqrdGXRmvDcbD/EB3M
      RXi8sTKeeq4x0PUQRiq355tpkeVl6HC8EhxIB4Yoqv7g947rTGXBI9v4MnjdQPe4
      z4BU6iz5kp52+D6vCPhsCwi1UpPaywCbviQnoBaRNY5ZRPzHCFH5vMqdAoGBAMB8
      yUuqyzFaTzn6GcZbCgnzgnszPiSstY4LesLI5ujMI7/gSyp69CZFFQ2Z9fzyVRh8
      v+OpWzIJ+yid6xeqWHQOVFpp3Rt5GSbAvUnlojwM+g4Lr8xWfFE60l+QAgtbg9yz
      zMoMshMCXjt1yMv/GGF9QKRecjimsiNiQGGJz/rxAoGABL1PwLSQsLtE3pt1iObp
      bt+WOQ3Gr9oeyn6hdTef4v5pVIY4lMLF9suIia+JaqZBBEf5AYCAJOy6D4RnM7GN
      VCC8aTMH6VgFp7WTn6HzEUOK9QenMZitUvjbli4VW+uAlAh8VIj8SAgNVQba1rxi
      +RpuePB6tsAK4OHbA4i3E7U=
      -----END RSA PRIVATE KEY-----