.carousel {
    height: 25rem;
    margin-top: 74px;
    background: rgb(53,34,78);
    background: linear-gradient(0deg, rgba(53,34,78,1) 0%, rgba(101,48,155,1) 100%);
    background-size: contain;
    background-position: center;
    color: $white;
    text-align: center;
    padding-top: 4rem;

    &:hover {
        cursor: pointer;
    }
}