form {
    label {
        display: block;
        width: 100%;
        margin-bottom: $small;
        text-transform: uppercase;
        font-size: .9rem;
        letter-spacing: 1px;
        color: $darkGrey;

    }

    input {
        margin-bottom: 1.6rem;
        border: 1px solid #c7c7c7;
    }
}

.formSpacer {
    margin-top: 250px;
}

.formInfo {
    padding: 2rem 4rem;
}

.formEntry {
    padding: 0 $xlarge;

    h2 {
        margin-bottom: 2rem;
    }

    .message {
        margin: $medium 0;
        display: block;
        margin-left: $large;
        font-weight: bold;
        font-size: .8rem;
        color: black;
        transition: color .3s ease-in-out;

        &.alert-success {
            color: #754279;
        }

        &.alert-danger {
            color: red;
        }
    }

    a {
        font-weight: bold;

        &:hover {
            color: $purple;
        }

        &:hover {
            border-bottom: 1px solid $purple;
        }
    }

}
