.main {
    section {
        .row {

            &:first-child {
                padding-top: 0;
                padding-bottom: 0;
            }

            h2 {
                margin-bottom: 0;
                font-weight: 300;
                font-size: 2.4rem;
            }
        }

        &.conventionBanner {
            .row {
                padding: 4rem $xlarge;
                border: 1px solid $lightGrey;
            }
        }
    }
}

.imageWrapper {
    max-height: 55vh;
    height: 100%;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 4rem 2rem;

    img {
        display: inline-block;
        width: auto;
        margin: 0 auto;
        height: 100%;
    }
}

.oneGame {
    section {
        margin-top:2rem;
        border: 1px solid $lightGrey;
        padding: 1rem;
    }
}

#details-table{
    padding-right: 35px;
    td{
        vertical-align: top;
    }
}