*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
}

a {
  color: $purple;
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  width: 100%;

}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}