*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: $bgcolor;
  font-family: $fontFamily;
}

a {
  color: $purple;
  text-decoration: none;
  transition: all 250ms ease-in-out;

  &:hover {
    color: $hoverPurple;
  }
}

h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  width: 100%;

}

img {
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

input,
textarea {
  width: 100%;
  padding: $medium;
}

textarea {
  height: 10rem;
  margin-bottom: 1rem;
}

.button {
  padding: $small;
  border: 1px sold $lightGrey;
  text-transform: uppercase;
  transition: all 250ms ease-in-out;
  cursor: pointer;

  &.large {
    padding: $medium $xlarge;
  }

  &.purple {
    color: $white;
    background-color: $purple;
    border: 0;

    &:hover {
      background-color: $hoverPurple;
    }
  }
}