$fontFamily: 'Roboto', Helvetica, 'Open Sans', Arial, sans-serif;

$white: #ffffff;
$black: #000000;
$darkGrey: #222222;
$grey: #999999;
$lightGrey: #eeeeee;

$purple: #65309b;
$lightPurple: #a156f1;
$darkPurple: #2d223b;
$bgcolor: #35224e;
$lightPurple: #b2b1d3;

// Used to calculate the column classes in _grid.scss
$columnNumber: 12;
$columnWidth: (1 / $columnNumber);

// Helper spacing classes
$tiny: 3px;
$small: 7px;
$medium: 15px;
$large: 27px;
$xlarge: 42px;