$fontFamily: 'Roboto', Helvetica, 'Open Sans', Arial, sans-serif;

$white: #ffffff;
$black: #000000;
$darkGrey: #222222;
$grey: #999999;
$lightGrey: #eeeeee;

$bgcolor: #35224e;

$purple: #65309b;
$lightPurple: #a156f1;
$darkPurple: #2d223b;
$lighterPurple: #b2b1d3;
$hoverPurple: #7e00ff;
$teal: #3edaea;

// Used to calculate the column classes in _grid.scss
$columnNumber: 12;
$columnWidth: (1 / $columnNumber);

// Helper spacing classes
$tiny: 3px;
$small: 7px;
$medium: 15px;
$large: 27px;
$xlarge: 42px;

// Mixins
@mixin breakpoint-phone {
    @media (max-width: 600px) { @content };
}
@mixin breakpoint-tablet-port {
    @media (max-width: 900px) { @content };
}
@mixin breakpoint-tablet-land {
    @media (max-width: 1200px) { @content };
}